<nav class="navbar-bottom">
  <%= link_to flats_path, class: 'nav-link-bottom' do %>
    <i class="fas fa-home"></i>
    <span class="nav-text-bottom">Home</span>
  <% end %>

  <a href="#" class="nav-link-bottom">
    <i class="fas fa-search"></i>
    <span class="nav-text-bottom">Search</span>
  </a>

  <%= link_to new_flat_path, class: 'nav-link-bottom' do %>
    <i class="fa-solid fa-plus"></i>
    <span class="nav-text-bottom">Add</span>
  <% end %>

  <%= link_to edit_user_registration_path, class: 'nav-link-bottom' do %>
    <i class="fas fa-user"></i>
    <span class="nav-text-bottom">Profile</span>
  <% end %>
</nav>
