<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="search-bar">
    <div class="search-field">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Where are you going?" />
    </div>
    <div class="search-field">
      <i class="fas fa-calendar-alt"></i>
      <input type="text" placeholder="Check in" />
      <input type="text" placeholder="Check out" />
    </div>
    <div class="search-field">
      <i class="fas fa-user-friends"></i>
      <input type="text" placeholder="Guests" />
    </div>
    <button class="search-button">
      <i class="fas fa-search"></i>
    </button>
  </div>
